@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=League+Spartan:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
   font-family: "Rubik", serif;
}

/* Ensure full height with a minimum length of 140% */
html {
   overflow-y: auto;
}

.analysis-results h3 {
   text-align: center;
   color: #2e4a34;
   width: 100%;
}


html,
body {
   margin: 0;
   padding: 0;
   height: 100%; /* Ensure html and body take up full viewport height */
   min-height: 140%; /* Set the minimum page length */
   overflow-x: hidden; /* Prevent horizontal scrolling */
   font-size: 1.4rem;
}

:root {
   --color-off-white: #f7f7f7;
   --color-dark-green: #4b7f52;
   --color-button-bg: #88c0d0;
   --color-button-text: #ffffff;
   --color-button-hover: #6ba9c4;
   --color-dark-green-dark: #2e4a34;
   --color-lighter-dark-green: #35663c;
   --color-lighter-lighter-dark-green: #437c4c;

}

/* Page background */
body {
   background-color: var(--color-dark-green);
   display: flex;
   flex-direction: column; /* Allow content to flow vertically */
   align-items: center; /* Center elements horizontally */
   position: relative;
   min-height: 140%; /* Match the height of the html */
   overflow-y: hidden; /* Enable vertical scrolling when needed */
}

/* Ensure the root div matches the full height of the page */
#root {
   flex-grow: 1; /* Allow #root to grow with its parent */
   min-height: 100%; /* Match the minimum height of html and body */
   width: 100%;
   display: grid;
   place-items: center;
}

#last-detection-text {
   margin-top: 1.75%;
   margin-bottom: 0.8%;
}

/* Tree images */
.side-tree {
   position: absolute;
   top: 50%;
   transform: translateY(-50%) scale(0.15);
   z-index: 10;
}



#left-tree-1 {
   position: absolute;
   top: 26%;
   width: 6vw; 
   right: 35%;  /* Move the left tree further left */
   transform: rotate(-45deg);
   z-index: 10;
}

#right-tree-1 {
   position: absolute;
   top: 26%;
   width: 6vw; 
   left: 35%;  /* Move the right tree further right */
   transform: rotate(45deg);
   z-index: 10;
}

#purple-flower {
   position: absolute;
   top: 12%;
   left: 8%;
   width: 10vw;  /* Control size with width */
   height: auto;
   z-index: 10;
}

#floating-image {
   position: absolute;
   top: -80%;
   left: 39%;
   transform: scale(0.085);  /* Center horizontally */
   width: 5vw;
   height: auto;
   z-index: 10;
}

#imagination {
   position: absolute;
   top: 11%;
   left: 82%;
   width: 10vw;
   height: auto;
   z-index: 10;
}

#blue-flower {
   position: absolute;
   top: 88%;
   left: 9%;
   width: 10vw;
   height: auto;
   z-index: 10;
}

#pink-flower {
   position: absolute;
   top: 88%;
   left: 82%;
   width: 10vw;
   height: auto;
   z-index: 10;
}



.analysis-results {
   background-color: #fff;
   padding: 1rem;
   border-radius: 25px; /* Increased to make the corners more rounded */
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow for a lifted effect */
   margin-top: 1rem;
   max-height: 200px;
   overflow-y: auto;
   width: 100%;
}


/* Title styling */
#title-image {
   transform: scale(0.7);
   margin-top: -5.5%;
   margin-bottom: -4%;
}

/* Central container */
.central-container {
   background-color: var(--color-off-white);
   border-radius: 2rem;
   width: 72%;
   min-height: 90%; /* Ensure the container matches the desired proportion */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 2rem;
   overflow: hidden;
   position: relative;
   z-index: 2;
}

/* Title styling */
#title-image {
   transform: scale(0.7);
   margin-bottom: -4%;
}

/* Toggle Button */
.toggle-button {
   background-color: var(--color-button-bg);
   color: var(--color-button-text);
   border: none;
   border-radius: 0.5rem;
   padding: 0.8rem 1.5rem;
   font-size: 1rem;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.1s ease;
   margin-top: 1rem;
}

.toggle-button:hover {
   background-color: var(--color-button-hover);
}

.toggle-button:active {
   transform: scale(0.95);
}

.streamlit-iframe {
   width: 100%;
   height: 80vh;
   border: none;
   border-radius: 1rem;
   margin-top: 1rem;
}

.listitem {
   padding: 0.5rem;
   margin: 0.5rem;
   border-radius: 0.5rem;
   color:#2e4a34;
   background-color: var(--color-off-white); /* Default background color */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   list-style-type: none;
   transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.listitem:hover {
   transform: scale(1.05); /* Slight expansion */
   box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1); /* Subtle shadow */
   background-color: rgba(52, 152, 219, 0.2); /* Subtle blue fill with opacity */
   color: #333333; /* Darker text color for better contrast */
}

.listitem:active {
   transform: scale(1.02); /* Very subtle shrink effect on click */
}
