/* Ensure full height and no scroll */
body,
html {
   margin: 0;
   padding: 0;
   height: 100%;
   overflow-x: hidden;
   font-size: 1.4rem;
}

:root {
   --color-off-white: #f7f7f7;
   --color-dark-green: #4b7f52;
   --color-button-bg: #88c0d0;
   --color-button-text: #ffffff;
   --color-button-hover: #6ba9c4;
}

/* Entire page background color */
body {
   background-color: var(--color-dark-green); /* Dark green background */
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   position: relative; /* For absolute positioning of child elements */
}

#root {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

/* Tree images */
.side-tree {
   position: absolute;
   top: 50%; /* Align vertically with the center of the viewport */
   transform: translateY(-50%) scale(0.15); /* Center vertically and scale */
   z-index: 10;
}

#left-tree-1 {
   left: 3%; /* Position 3% from the left edge */
   margin-left: -28%;
}

#right-tree-1 {
   right: 3%; /* Position 3% from the right edge */
   margin-right: -28%;
}

/* Central container */
.central-container {
   background-color: var(--color-off-white);
   border-radius: 2rem;
   width: 72%;
   height: 85%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 2rem;
   overflow: hidden;
   position: relative; /* For child element positioning */
   z-index: 2; /* Ensure content is above the trees */
}

/* Title styling */
#title-image {
   transform: scale(0.7);
   margin-top: -4.5%;
   margin-bottom: -4%;
}

/* Toggle Button */
.toggle-button {
   background-color: var(--color-button-bg);
   color: var(--color-button-text);
   border: none;
   border-radius: 0.5rem;
   padding: 0.8rem 1.5rem;
   font-size: 1rem;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.1s ease;
   margin-top: 1rem;
}

.toggle-button:hover {
   background-color: var(--color-button-hover);
}

.toggle-button:active {
   transform: scale(0.95);
}

.streamlit-iframe {
   width: 100%;
   height: 50%;
   border: none;
   margin-top: 1rem;
}
