/* Ensure full height with a minimum length of 140% */
html {
   overflow-y: auto;
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%; /* Ensure html and body take up full viewport height */
   min-height: 140%; /* Set the minimum page length */
   overflow-x: hidden; /* Prevent horizontal scrolling */
   font-size: 1.4rem;
}

:root {
   --color-off-white: #f7f7f7;
   --color-dark-green: #4b7f52;
   --color-button-bg: #88c0d0;
   --color-button-text: #ffffff;
   --color-button-hover: #6ba9c4;
}

/* Page background */
body {
   background-color: var(--color-dark-green);
   display: flex;
   flex-direction: column; /* Allow content to flow vertically */
   align-items: center; /* Center elements horizontally */
   position: relative;
   min-height: 140%; /* Match the height of the html */
   overflow-y: hidden; /* Enable vertical scrolling when needed */
}

/* Ensure the root div matches the full height of the page */
#root {
   flex-grow: 1; /* Allow #root to grow with its parent */
   min-height: 100%; /* Match the minimum height of html and body */
   width: 100%;
   display: grid;
   place-items: center;
}

#last-detection-text {
   margin-top: 1.75%;
   margin-bottom: 0.8%;
}

/* Tree images */
.side-tree {
   position: absolute;
   top: 50%;
   transform: translateY(-50%) scale(0.15);
   z-index: 10;
}

.tree-wrapper {
   position: absolute;
   top: 50%;
   transform: scale(0.085);
   z-index: 10;
}

#left-tree-1 {
   position: absolute;
   left: 0;
   transform: translate(115%, -230%) rotate(-30deg);
   z-index: 10;
}

#right-tree-1 {
   position: absolute;
   right: 0;
   transform: translate(-115%, -230%) rotate(30deg);
   z-index: 10;
}

/* Title styling */
#title-image {
   transform: scale(0.7);
   margin-top: -5.5%;
   margin-bottom: -4%;
}

/* Central container */
.central-container {
   background-color: var(--color-off-white);
   border-radius: 2rem;
   width: 72%;
   min-height: 90%; /* Ensure the container matches the desired proportion */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 2rem;
   overflow: hidden;
   position: relative;
   z-index: 2;
}

/* Title styling */
#title-image {
   transform: scale(0.7);
   margin-bottom: -4%;
}

/* Toggle Button */
.toggle-button {
   background-color: var(--color-button-bg);
   color: var(--color-button-text);
   border: none;
   border-radius: 0.5rem;
   padding: 0.8rem 1.5rem;
   font-size: 1rem;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.1s ease;
   margin-top: 1rem;
}

.toggle-button:hover {
   background-color: var(--color-button-hover);
}

.toggle-button:active {
   transform: scale(0.95);
}

.streamlit-iframe {
   width: 100%;
   height: 50%;
   border: none;
   margin-top: 1rem;
}
